<nav id="sidebar">
            <div class="sidebar-header">
                <h3>Auto-Tagger</h3>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="/users">Users</a>
                </li>
                <li>
                    <a href="/questions">Questions</a>
                </li>
                <li>
                    <a href="/predict">Predict</a>
                </li>
                <li>
                    <a href="/stats">Stats</a>
                </li>
            </ul>

</nav>