<nav id="sidebar">
            <div class="sidebar-header">
                <h3>Auto-Tagger</h3>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li class="active1">
                    <a href="/admin/users">Users</a>
                </li>
                <li class="active2">
                    <a href="/admin/questions">Questions</a>
                </li>
                <li class="active3">
                    <a href="/admin/predict">Predict</a>
                </li>
                <li class="active4">
                    <a href="/admin/stats">Stats</a>
                </li>
            </ul>

</nav>