<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <form action="" method="POST">
        Year: <input type = "text" name = "Year"/>
        <br>
        <input type = "checkbox" name = "correctly_answered" value = "correctly_answered"> Correctly Answered 
        <br>
        <input type = "checkbox" name = "incorrectly_answered" value = "incorrectly_answered"> Incorrectly Answered
        <br>
        <input type = "checkbox" name = "not_answered" value = "not_answered"> Not Answered
        <br>
        <input type = "checkbox" name = "avg_marks_correctly_answered" value = "avg_marks_correctly_answered"> Average Marks Correctly Answered
        <br>
        <input type = "checkbox" name = "avg_marks_incorrectly_answered" value = "avg_marks_incorrectly_answered"> Average Marks Inorrectly Answered
        <br>
        <input type = "checkbox" name = "avg_marks_not_answered" value = "avg_marks_not_answered"> Average Marks Not Answered
        <br>
        <input type = "checkbox" name = "F1" value = "f1"> F1 
        <br>
        <input type = "checkbox" name = "F2" value = "f2"> F2
        <br>
        <input type = "submit" name = "submit" value = "Submit" />
    </form>
</body>
</html>